[twitter]
consumer_key=
consumer_secret=
oauth_token=
oauth_token_secret=

[mastodon]
instance_url=
access_token=

[sources]
examplefeed1=https://url.to.feed.example/feed.xml
examplefeed2=https://foo.bar.invalid/feed/

[common]
stopwords=word1,word2
